

body{
    
    background:url("../img/jason-blackeye-nyL-rzwP-Mk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

img {
    margin-top: 100px;
    /*left: 10%;*/
    margin-left: 100px; 
    
}

a, h2{
    color: white;
}

.left{
    float: left;
    width: 40%;
    height: 100%;
    
}

p{
    font-size: 20px;
    padding:15px;
}

.right {
    float: right;
    width: 40%;

}