

body{
    
    background:url("../img/jason-blackeye-nyL-rzwP-Mk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

img {
    display: inline;
    /*position: absolute;*/
    /*top: 50%;
    left: 10%;
    margin-top: -250px; */
    margin-left: 30px; 
    vertical-align: middle;
}

a, h2{
    color: white;
}

.left{
    float: left;
    width: 40%;
    
}

.right {
    float: right;
    width: 40%;

}