

body{
    
    background-image:url("img/jason-blackeye-nyL-rzwP-Mk-unsplash.jpg me.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

img {
    display: block;
    justify-content: center;
    align-items: center;
}

a, h2{
    color: white;
}

.left{
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 40%;
}