
body{
    background:#707070;
    display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;
    padding:20px;
    
}

header{
    height: 20vh;
    margin: 20px 20px 0 20px;
}

footer{
    margin: 0 20px 0 20px;
    padding: 10px;
}

header, footer{
    background: #b8b8b8;
    color:#f0f0f0;
    
    
    
}
footer ul
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 10px;
    
    
}


ul{
    list-style-type: none;
}

header h2 {
    display: flex;
    color:#f0f0f0;
    justify-content: center;
    padding-top: 10px;
}

nav{
    flex-direction: row;
    background:#ff5733;
    margin: 0 0 0 20px;
    width:10%;

}

main{
    flex-direction: row; 
    align-content: flex-end;
    background:#ffffff;
    color:#f0f0f0;
    margin: 0 20px 0 0;
    width:90%;
    
}

a{
    text-decoration: none;
    padding-right: 10px;
    color:#f0f0f0;
    
}
nav li {
    margin: 50px 0;
}

img {
    display: block;
    justify-content: center;
}
span{
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-grow: 1;
}
#wrapper {
    display: flex;
    flex-direction: column;
    
}